<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">StickySnippets</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        
        {{#unless user}}
        <li class="nav-item">
          <a class="nav-link" href="/">Login</a>
        </li>
        {{/unless}}

        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/snippets/">List</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/snippets/new">Create</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {{/if}}

      </ul>
    </div>
  </nav>
</header>
