<div class='error d-flex flex-row align-items-center'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-md-12 text-center'>
        <span class='display-1 d-block'>500 Internal Server Error</span>
        <div class='mb-4 lead'>Please try again or contact us if the problem
          presist.</div>
        <a href='/' class='btn btn-link'>Back to Home</a>
      </div>
    </div>
  </div>
</div>